nav{
	background: #2c3e50;
	color: #fff;
}
header{
	background: #2c3e50;
	color: #fff;
}
.main{
	background: #f2f2f2;
}
.color1{
	background: #34495e;
	color: #fff;
}
aside{
	background: #c0392b;
	color: #fff;
}
footer{
	background: #16a085;
	color: #fff;
}
